*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 20px 35px;
    text-align: center;
    border-radius: 40px;
    margin: 50px 0;
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-sizing: 0 5px 10px rgba(255,26,26,0.22);

}

.music-player img{
    border-radius: 50%;
    width: 220px;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255,26,26,0.22);
}

.music-player h1{
    color: #e05252;
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
}
.music-player p{
    color: cadetblue;
    font-weight: 600;
    font-size: 15px;
}
/* 
#progeress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background:#f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 0;
}

#progeress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255,26,26,0.22);
} */

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls div{
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow:0 10px 20px  rgba(255,26,26,0.22);
}

.controls div:nth-child(2){
    transform: scale(1.2);
    background: #f53192;
    color: #fff;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4c00ff;
    background-image: linear-gradient(160deg, #4900f5 0%, #80D0C7 100%);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    cursor: pointer;
  }
  